body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
li {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section-padding {
    padding: 4rem 0;
}

.section-heading {
    font-size: 40px;
    padding-bottom: 1rem;
}

.section-para {
    font-size: 16px;
    padding-bottom: 1rem;
}


/* header */
/* BASIC SETUP */

.page-wrapper {
    width: 100%;
    height: auto;
    padding: 1rem 0;
}

.nav-wrapper {
    width: 100%;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
}

/* NAVIGATION */

.logo {
    max-width: 70%;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 9rem);
    justify-self: end;

}

.nav-item {
    text-align: center;
}

.nav-item a {
    color: #707070;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.nav-item a:hover {
    color: #000;
}

.is-active a {
    color: #000;
    border-bottom: 3px solid #FF6B00;
    padding-bottom: 5px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
}

.menu-toggle:hover {
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 991px) {
    .features {
        flex-direction: column;
        padding: 50px;
    }


    /* MOBILE NAVIGATION */

    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 71px;
        right: 0;
        background-color: #fff;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
        z-index: 1;
    }

    .navbar li {
        padding: 15px;
    }

    .navbar li:first-child {
        margin-top: 10px;
    }

    .navbar li a {
        font-size: 1rem;
    }

    .menu-toggle,
    .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
        transform: translate(0%) !important;
    }

    .nav-on {
        overflow: hidden;
    }

    .mobile-nav {
        z-index: 2;
    }

}

/* mba-internatinal-banner */

.mob-banner {
    display: none;
}

.mba-international-banners {
    position: relative;
    color: #fff;
    z-index: -1;
}

.form-wrapper {
    position: absolute;
    top: 8%;
    right: 6%;
    z-index: 2;
}



/* study-in-dubai-section */
.study-in-dubai-section {
    background: url("../images/study\ in\ dubai.png");
}

.study-in-dubai-card-wrapper-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.study-cards-wrapper {
    width: calc((100% - 80px) / 5);
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    height: 270px;
}

.study-dubai-heading {
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.study-cards-wrapper p {
    font-size: 16px;
    font-weight: 300;
    padding-top: 1rem;
    font-weight: 500;
}

.study-cards-wrapper img {
    height: 50px;
}

.study-cards-wrapper span {
    font-weight: 800;
}

/* 5 star-benefits section */
.benefits-card-wrapper-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
}

.benefits-card-wrapper {
    width: calc((100% - 30px) / 3);
    margin-bottom: 2rem;
}

.benefits-text-wrapper {
    background-color: #FFB400;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.star-benefits-heading {
    color: #FF6B00;
    text-align: center;
}

.star-benefits-para {
    color: #000;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    font-weight: 500;
}

.benefits-text-wrapper {
    text-align: center;
    padding: 1rem;
    height: 170px;
}

.benefits-text-wrapper h4 {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 1rem;
}

.benefits-text-wrapper p {
    font-weight: 500;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}

.benefits-card-wrapper-flex-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 55%;
    margin: 0 auto;
}

.benefits-card-wrapper-2 {
    width: calc((100% - 30px) / 2);
    margin-bottom: 2rem;
}


/* scolarship section */
.scolarship-heading {
    color: #FF6B00;
    text-align: center;
}

.scolarship-para {
    color: #202020;
    text-align: center;
    font-weight: 300;
}

.scolarship-outer-card-wrapper-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0 0;
}

.scolarship-cards-wrapper {
    width: calc((100% - 30px) / 3);
    background-color: #fff;
    padding: 2rem;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    height: 300px;
    margin-bottom: 2rem;
}

.scolarship-cards-wrapper:hover .img-desktop {
    display: none;
}

.scolarship-img-wrapper:hover {
    text-align: right;
}

.scolarship-cards-wrapper:hover {
    background-color: #FFB400;

}

.scolarship-cards-wrapper:hover .img-hover {
    display: inline-block;
}

.scolarship-cards-wrapper .img-hover {
    display: none;
}

.scolarship-img-wrapper {
    text-align: right;
}

.scolarship-text-wrapper h4 {
    font-size: 18px;
    font-weight: 600;
    width: 35%;
    padding-bottom: 1rem;
}

.scolarship-text-wrapper p {
    color: #202020;
    font-size: 16px;
    font-weight: 400;
    width: 90%;
}

.termscondition-wrapper {
    text-align: right;
}

.termscondition-wrapper p {
    font-size: 12px;
    margin-bottom: 4rem;
    font-weight: 600;
    color: #202020;
}

.apply-btn {
    text-align: center;
    margin-bottom: 2rem;

}

.apply-btn a {
    text-decoration: none;
    background-color: #FF6B00;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    padding: 1rem 2rem;
    font-size: 20px;
    display: inline-block;
    font-size: 20px;
}


/* placement section */
.placement-outer-wrapper-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.placement-text-wrapper {
    font-size: 16px;
    color: #FFB400;
    font-weight: 600;
    border-right: 3px solid #ffb400;
    padding-right: 2rem;
}

.placement-text-wrapper:last-child {
    border: none;
}

.placement-section {
    text-align: center;
    background: url("../images/placement-bg.png") no-repeat;
    background-size: cover;
}

.placement-para {
    color: #fff;
}

.placement-heading {
    color: #fff;
}

.logo-wrapper {
    background: #fff;
    width: calc((100% - 66px) / 8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 0.5rem;
    border-radius: 6px; 
}

.placement-logo-text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0 2rem;
}


/* tech enable section */
.tech-cards-wrapper img {
    max-width: 20%;
}

.tech-cards-wrapper {
    border-radius: 12px;
    padding: 2rem;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 30px #8F8F8F2E;
    height: 250px;
}

.tech-cards-wrapper h4 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.tech-heading {
    color: #FF6B00;
    width: 70%;
}

.owl-nav {
    position: absolute;
    top: -125px;
    right: 64px;
    font-size: 49px;
}

.tech-enable-section {
    position: relative;
}

.owl-prev span {
    color: #ccc;
}

.owl-next span {
    color: #FF6B00;

}

.fluid-class {
    padding-left: 7rem;
}

/* program section */
.program-section {
    background: url("../images/program-bg.png") no-repeat;
    text-align: center;
}

.program-heading {
    color: #fff;
}

.program-para {
    color: #fff;
}

.main-tab-wrapper {
    margin: 2rem 0;
}

.tabs-text:nth-child(4n) {
    margin-right: 0;
}

.tabs-text:nth-child(4n+1) {
    margin-left: 0;
}

/* tabs */
.h-tab_container {
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    height: 600px;
}



.horizontal-tab {
    width: calc((100% - 30px) / 4);
}

.h-tab_tab-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.h-tab_tab-head li {
    font-size: 16px;
    margin: 0 0 1px 0;
    cursor: pointer;
    /* padding: 0px 119px; */
    height: 32px;
    line-height: 31px;
    color: #fff;
    border-bottom: 0px;
}

.h-tab_tab-head li:hover {
    color: #fff;
}

.h-tab_tab-head li.active {
    border-bottom: 3px solid #FF6B00;
    color: #FF6B00;
    display: block;
    font-weight: 600;
}

.h-tab_tab-head .h-tab_container {
    width: 500px;
    min-height: 200px;
}

.h-tab_tab-head .h-tab_content {
    padding: 10px 20px;
    display: none;
}

.h-tab_tab-head .h-tab_content> :first-child {
    margin-top: 0;
}

.v-tab {
    display: flex;
}

.v-tab_tab-head {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    width: 30%;
}

.v-tab_tab-head li {
    margin: 0 0 1px 0;
    cursor: pointer;
    padding: 10px 10%;
    height: 50px;
    line-height: 31px;
    color: #202020;
    border-bottom: 0px;
    overflow: hidden;
    position: relative;
    width: 90%;
    font-size: 16px;
    margin-bottom: 2rem;
    text-align: left;
}

.v-tab_tab-head li:hover {
    background-color: #f5f5f5;
    color: #000;
}

.v-tab_tab-head li.active {
    background-color: #FF6B00;
    color: #fff;
    display: block;
    border-radius: 12px;
}

.v-tab_container {
    float: left;
    min-height: 132px;
    width: 70%;
}

.v-tab_content {
    padding: 10px 20px;
    display: none;
}

.v-tab_content> :first-child {
    margin-top: 0;
}


/* tabs-text */
.tabs-text h3 {
    font-size: 15px;
    color: #202020;
}

.tabs-text p {
    font-size: 16px;
    color: #202020;
}

.tabs-text-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.tabs-text {
    width: calc((100% - 90px) / 4);
    border: 1px solid #0078FF;
    border-radius: 12px;
    height: 155px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-right: 15px;
    margin-left: 15px;
}

.tabs-text:hover {
    background-color: #FF6B00;
    box-shadow: 0px 3px 25px #0000004A;
    border: none;
}

.tabs-text:hover h3 {
    color: #fff;
}

.v-tab_content:first-child.active {
    display: block !important;
}


.tabs-text:hover .eng-img-desktop {
    display: none;
}

.tabs-text:hover .program-img-hover {
    display: inline-block;
}

.tabs-text .program-img-hover {
    display: none;
}


/* about-section */
.about-section {
    background: url("../images/about-bg.png") no-repeat;
    color: #fff;
    background-size: cover;
}

.about-wrapper {
    width: 50%;
    margin-left: 40rem;
}

.contact-info {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 1rem;
    text-align: center;
}

.about-heading {
    padding: 2rem 0;
    font-weight: 600;
}

.social-icons-wrapper i {
    padding-left: 1rem;
    font-size: 20px;
}

.about-para {
    padding-bottom: 2rem;
}

.about-logo-wrapper-flex {
    display: flex;
    align-items: center;
}

.about-logo {
    border-right: 2px solid #fff;
    padding-right: 1rem;
    text-align: center;
}

.about-logo:last-child {
    border: none;
}

.right-space {
    padding-left: 1rem;
}

.logo-text {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.white-5-star {
    padding-bottom: 1.5rem;
}

.contact-wrapper {
    width: 70%;
    margin-left: 15rem;
    margin-top: 10rem;
}

.social-icons-wrapper {
    text-align: center;
}


/* footer */
.footer-section {
    background-color: #0078FF;
}

.footer-text {
    text-align: center;
    color: #fff;
    padding: 1rem 0;
    font-weight: 500;
}


@media screen and (min-width: 320px) and (max-width: 568px) {

    .eng-img-desktop {
        display: none;
    }

    .program-img-hover {
        display: inline-block !important;
    }

    .apply-btn a {
        font-size: 12px;
    }

    .h-tab_container {
        height: auto;
    }

    .fluid-class {
        padding-left: 6px;
    }

    .logo {
        max-width: 90%;
    }


    .about-heading {
        padding-bottom: 1rem;
        padding-top: 0;
    }

    .about-para {
        padding-bottom: 1rem;
        font-size: 12px;
    }

    .form-wrapper {
        position: static;
    }

    .section-heading {
        font-size: 34px;
    }

    .mob-banner {
        display: block;
    }

    .desktop-banner {
        display: none;
    }

    .section-padding {
        padding: 2rem 0;
    }

    .width {
        width: 100%;
    }

    .about-wrapper {
        margin-left: 0;
    }

    .contact-wrapper {
        width: 100%;
        margin: 0;
    }

    .about-section {
        background: url("../images/mob-about-bg.png") no-repeat;
        background-size: 100% 100%;
        min-height: 750px;
    }


    .evening-text {
        padding-bottom: 1rem;
    }

    .contact-info {
        text-align: center;
        padding: 2rem 0 1rem;
    }

    .girl-placement-img {
        max-width: 95%;
    }


    .about-logo {
        padding-right: 0.5rem;
    }

    .right-space {
        padding-left: 0.5rem;
    }

    .about-logo:last-child {
        padding-right: 0;
    }

    .logo-text {
        font-size: 11px;
    }

    .study-cards-wrapper {
        width: calc((100% - 0px) / 1);
        margin-bottom: 2rem;
        height: auto;
    }

    .benefits-card-wrapper {
        width: calc((100% - 47px) / 1);
    }

    .scolarship-cards-wrapper {
        width: calc((100% - 0px) / 1);
    }

    .logo-wrapper {
        width: calc((100% - 10px) / 2);
    }

    .star-benefits-para {
        width: 100%;
    }

    .benefits-text-wrapper,
    .scolarship-cards-wrapper {
        height: auto;
    }

    .benefits-card-wrapper-2 {
        width: calc((100% - 47px) / 1);
    }

    .benefits-card-wrapper-flex-2,
    .benefits-card-wrapper-flex {
        width: 100%;
        justify-content: center;
    }

    .placement-text-wrapper {
        border: none;
    }

    .placement-outer-wrapper-flex {
        width: 100%;
        justify-content: center;
    }

    .tech-heading {
        width: 100%;
    }

    .horizontal-tab {
        width: calc((100% - 0px) / 2);
    }

    .h-tab_tab-head li.active {
        background-color: #FF6B00;
        color: #fff;
    }

    .h-tab_tab-head li {
        border: 1px solid #0F63C2;
        height: 40px;

    }

    .h-tab_tab-head {
        justify-content: center;
        margin: 0;
    }

    .h-tab_container {
        background-color: transparent;
        padding: 2rem 1rem;
    }

    .v-tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .v-tab_tab-head {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
    }

    .v-tab_container {
        width: 100%;
    }

    .tabs-text {
        width: calc((100% - 23px) / 2);
        background-color: #004491;
        border: 1px solid #FFFFFF;
        height: 170px;
    }

    .tabs-text h3 {
        color: #fff;
    }

    .tabs-text p {
        color: #fff;
    }

    .v-tab_tab-head li {
        padding: 10px 25px;
        margin-bottom: 0;
        width: auto;
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: 1rem;
        height: 45px;
    }

    .v-tab_tab-head li.active {
        background-color: #FF6B00;
        color: #fff;
        display: block;
        border-radius: 20px;
    }

    .program-section {
        background: #044fa5;
    }

    .owl-nav {
        position: relative;
        top: 0;
        right: 0;
    }

    .tabs-text:nth-child(4n+1) {
        margin-left: 15px;
    }
}

@media screen and (min-width: 569px) and (max-width: 768px) {
    .eng-img-desktop {
        display: none;
    }

    .program-img-hover {
        display: inline-block !important;
    }

    .tabs-text:nth-child(4n+1) {
        margin-left: 15px;
    }

    .study-cards-wrapper {
        height: auto;
    }

    .h-tab_container {
        height: auto;
    }

    .about-para {
        font-size: 24px;
    }

    .mob-banner {
        display: block;
        width: 100%;
    }

    .desktop-banner {
        display: none;
    }

    .section-padding {
        padding: 2rem 0;
    }

    .width {
        width: 100%;
    }

    .about-section {
        background: url("../images/mob-about-bg.png") no-repeat;
        background-size: 100% 100%;
        min-height: 1340px;
    }

    .about-wrapper {
        margin-left: 0;
    }

    .contact-wrapper {
        width: 100%;
        margin: 0;
        padding-top: 3rem;
        text-align: center;
    }

    .about-logo-wrapper-flex {
        padding: 1rem 0;
    }

    .form-wrapper {
        position: static;
        text-align: center;
        padding: 1rem 0;
    }

    .form-wrapper img {
        width: 100%;
    }

    .mba-international-wrapper-flex {
        top: 4%;
    }

    .placement-bottom {
        padding-left: 0;
    }

    .study-cards-wrapper {
        width: calc((100% - 0px) / 1);
        margin-bottom: 2rem;
    }

    .benefits-card-wrapper {
        width: calc((100% - 72px) / 1);
    }

    .scolarship-cards-wrapper {
        width: calc((100% - 0px) / 1);
    }

    .logo-wrapper {
        width: calc((100% - 10px) / 2);
    }

    .star-benefits-para {
        width: 100%;
    }

    .benefits-card-wrapper-flex {
        justify-content: center;
    }

    .benefits-card-wrapper-flex-2 {
        justify-content: center;
        width: 80%;
    }

    .benefits-card-wrapper-2 {
        width: calc((100% - 72px) / 1);
    }

    .placement-text-wrapper {
        border: none;
    }

    .placement-outer-wrapper-flex {
        width: 100%;
        display: block;
    }

    .tech-heading {
        width: 100%;
    }

    .horizontal-tab {
        width: calc((100% - 0px) / 2);
    }

    .h-tab_tab-head li.active {
        background-color: #FF6B00;
        color: #fff;
    }

    .h-tab_tab-head li {
        border: 1px solid #0F63C2;

    }

    .h-tab_tab-head {
        justify-content: center;
        margin: 0;
    }

    .h-tab_container {
        background-color: transparent;
        padding: 2rem 1rem;
    }

    .v-tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .v-tab_tab-head {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
    }

    .v-tab_container {
        width: 100%;
    }

    .tabs-text {
        width: calc((100% - 23px) / 2);
        background-color: #004491;
        border: 1px solid #FFFFFF;
        height: 200px;
    }

    .tabs-text h3 {
        color: #fff;
    }

    .tabs-text p {
        color: #fff;
    }

    .v-tab_tab-head li {
        padding: 10px 65px;
        margin-bottom: 0;
        width: auto;
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: 1rem;
        height: 45px;
    }

    .v-tab_tab-head li.active {
        background-color: #FF6B00;
        color: #fff;
        display: block;
        border-radius: 20px;
    }

    .owl-nav {
        position: relative;
        top: 0;
        right: 0;
    }

    .program-section {
        background: #044fa5;
    }

    .fluid-class {
        padding-left: 1rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .eng-img-desktop{
        display: none;
    }
    .program-img-hover{
        display: inline-block !important;
    }

    .tabs-text:nth-child(4n+1) {
        margin-left: 15px;
    }

    .mob-banner {
        display: block;
        width: 100%;
    }

    .desktop-banner {
        display: none;
    }

    .section-padding {
        padding: 2rem;
    }

    .width {
        width: 100%;
    }

    .about-section {
        background: url("../images/mob-about-bg.png") no-repeat;
        background-size: 100% 100%;
        min-height: 1110px;
    }

    .about-wrapper {
        margin-left: 0;
    }


    .contact-wrapper {
        width: 100%;
        margin: 0;
        padding-top: 3rem;
        text-align: center;
    }

    .about-logo-wrapper-flex {
        padding: 1rem 0;
    }

    .form-wrapper {
        position: static;
        text-align: center;
        padding: 2rem 0;
    }

    .form-wrapper img {
        width: 100%;
    }

    .benefits-card-wrapper-flex {
        justify-content: center;
    }

    .benefits-card-wrapper-flex-2 {
        justify-content: center;
    }

    .benefits-card-wrapper-2 {
        width: calc((100% - 40px) / 1);
    }

    .placement-text-wrapper {
        border: none;
    }

    .placement-outer-wrapper-flex {
        width: 100%;
        display: block;
    }

    .tech-heading {
        width: 100%;
    }

    .study-cards-wrapper {
        height: auto;
    }

    .program-section {
        background: #044fa5;
    }

    .fluid-class {
        padding-left: 1rem;
    }

    .study-cards-wrapper {
        width: calc((100% - 0px) / 1);
        margin-bottom: 2rem;
    }

    .benefits-card-wrapper {
        width: calc((100% - 215px) / 1);
    }

    .scolarship-cards-wrapper {
        width: calc((100% - 0px) / 1);
    }

    .logo-wrapper {
        width: calc((100% - 10px) / 2);
    }

    .star-benefits-para {
        width: 100%;
    }

    .horizontal-tab {
        width: calc((100% - 0px) / 2);
    }

    .h-tab_tab-head li.active {
        background-color: #FF6B00;
        color: #fff;
    }

    .h-tab_tab-head li {
        border: 1px solid #0F63C2;

    }

    .h-tab_tab-head {
        justify-content: center;
        margin: 0;
    }

    .h-tab_container {
        background-color: transparent;
        padding: 2rem 1rem;
        height: auto;
    }

    .v-tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .v-tab_tab-head {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
    }

    .v-tab_container {
        width: 100%;
    }

    .tabs-text {
        width: calc((100% - 23px) / 2);
        background-color: #004491;
        border: 1px solid #FFFFFF;
        height: 200px;
    }

    .tabs-text h3 {
        color: #fff;
    }

    .tabs-text p {
        color: #fff;
    }

    .v-tab_tab-head li {
        padding: 10px 106px;
        margin-bottom: 0;
        width: auto;
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: 1rem;
        height: 45px;
    }

    .v-tab_tab-head li.active {
        background-color: #FF6B00;
        color: #fff;
        display: block;
        border-radius: 20px;
    }

    .owl-nav {
        position: relative;
        top: 0;
        right: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .form-wrapper img {
        max-width: 70%;
    }

    .form-wrapper {
        right: -50px;
        top: 5%;
    }

    .fluid-class {
        padding-left: 3rem;
    }


    .about-wrapper {
        width: 70%;
        margin-left: 18rem;
    }


    .about-heading {
        padding: 0;
    }

    .contact-wrapper {
        margin-bottom: 10rem;
        margin-left: 13rem;
        margin-top: 2rem;
    }

    .study-cards-wrapper {
        height: 320px;
    }

    .benefits-text-wrapper h4 {
        height: 45px;
    }

    .placement-outer-wrapper-flex {
        width: 90%;
    }

    .logo-wrapper img {
        max-width: 80%;
    }


}


@media screen and (min-width: 1201px) and (max-width: 1599px) {

    .placement-outer-wrapper-flex {
        width: 75%;
    }

    .about-wrapper {
        margin-left: 35rem;
    }

    .contact-wrapper {
        margin-top: 3rem;
    }

    .fluid-class {
        padding-left: 5rem;
    }

    .form-wrapper {
        top: 5%;
    }

    .form-wrapper img {
        max-width: 90%;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
    .about-section {
        background-size: 100% 100%;
    }

}

@media screen and (min-width: 2000px) and (max-width: 2499px) {

    .about-section {
        background-size: 100% 100%;
    }
}

@media screen and (min-width: 2500px) {
    .about-section {
        background-size: 100% 100%;
    }
}